/*Home Page*/
.nav {
  margin-top: 2%;
}

.logo {
  position: absolute;
  top: -1vh;
}

li>a {
  color: #26B328;
  font-size: 25px;
}

.signUp{
  color: white;
  background: #26B328;
  border-radius: 5px;
}

.homeImg {
  width: 100%;
  height: 50vh;
  border-top: 2px solid #26B328;
  border-bottom: 2px solid #26B328;
}

.headText {
  position: absolute;
  top: 25vh;
  left: 10vw;
  color: white;
}

.headText > h2 {
  font-size: 75px;
  font-weight: 200;
}

.headText > h4 {
  font-size: 35px;
  font-weight: 200;
}

.headText > button {
  background-color: #26B328;
  font-size: 35px;
}

.homeImages {
  width: 10vw;
  height: 12vh;
  margin: 7%;
}

.homeContainer {
  display: flex;
  margin-top: 10vh;
  text-align: center;
}

.homeDiv {
}

.jumbotron{
  padding-top: 0px;
}

.container > .heading {
  color: #26B328;
  float: right;
}


/*feature*/

.img-left {
  float: left;
  margin: 10%;
  width: 40vw;
}

.img-right {
  float: right;
  margin: 10%;
  width: 40vw;
}


.button {
  height: 50px;
  margin-left: 10%;
  width: 80%;
}

h4 {
  display: inline-block;
}

.selected{
  position: absolute;;
  background-color: white;
  left: 50%;
  width: 50%;
  transform: translateY(-30vh);
  }


.pullSheet {
  position: fixed;
  right: 50%;
  width: 50%;
  transform: translateY(-30vh);
}

.pullSheetInventory {
  position: fixed;
  right: 50%;
  width: 50%;
  transform: translateY(-75%);
}

.ogPullSheet {
  position: relative;
  right: 50%;
  width: 50%;
}

#newPullSheet {
  position: fixed;
  right: 50%;
  width: 50%;
}


.pageTitle {
  text-align: center;
}

.qInput {
  width: 50px;
}

.pull-modal-body {
  height: 40vh;
}

.left {
  left: 80px;
}
