<!DOCTYPE html>
<html ng-app="inventory">
  <head>
    <meta charset="utf-8">
    <title>Inventory Shembentory</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.js"></script>

    <script src="../controllers/module.js" charset="utf-8"></script>
    <script src="../controllers/controller.home.js"></script>
    <script src="../factories/factory.inventory.js" charset="utf-8"></script>
    <script src="../factories/factory.pullSheet.js" charset="utf-8"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../main.css">

  </head>
  <body>

    <ul class="nav nav-tabs ">
      <li role="presentation"><a href="index.html"><img class="logo" src="../images/logo.png" alt="HOME"></a></li>
      <li class="left" role="presentation"><a href="profile.html">Profile</a></li>
      <li class="left" role="presentation" class="active"><a href="inventory.html">Inventory</a></li>
      <li class="left" role="presentation"><a href="pull.html">Pull Sheets</a></li>
    </ul>

    <section ng-controller="HomeController as home">

      <div class="jumbotron">
        <div class="container">
          <h1 class="heading">{{home.greeting}} Inventory</h1>
        </div>
      </div>

      <div class="container">

        <button class="btn btn-default"type="button" name="button" ng-click="edit =! edit" ng-hide="createPull">Edit Inventory Item</button>
        <button class="btn btn-default"type="button" name="button" ng-click="home.addInventory(addItem)" ng-hide="createPull">Add Item to Inventory</button>
        <button class="btn btn-default"type="button" name="button" ng-click="home.addInventoryClass(addClass)" ng-hide="createPull">Add Inventory Class</button>


      <!-- <div ng-repeat="(ListDrop, ListArray) in ctrl.floorTen"> -->

      <div class="" ng-repeat="(ListDrop, ListArray) in home.floorTen">

        <button ng-model="home.newItem" class="button" type="button" name="button" ><span class="glyphicon glyphicon-menu-down pull-left"></span> <span>{{ListDrop}}</span><span class="glyphicon glyphicon-menu-down pull-right"></span></button>

        <div class="" ng-repeat="item in ListArray">
          <img class="col-xs-1 img-responsive" ng-src="{{ListArray.img}}"> Name : {{ListArray.name}} || Quantity : {{ListArray.quantity}} <span ng-hide="createPull">||  Company Purchased From : <a href="{{ListArray.itemUrl}}">{{ListArray.purchasedFrom}}</a> </span><button ng-model="pullItem" class="pull-right" ng-show="edit" ng-click="home.editInventory(item)">Edit: {{ListArray.name}}</button>
        </div>

      </div>
        <!-- <button  ng-repeat="(ListDrop, ListArray) in ctrl.floorTen" class="button" type="button" name="button">{{ListDrop.name}}</button> -->
          <!-- <div ng-repeat="item in ListArray">
            <h4 ng-show="">
              <img class="col-xs-1 img-responsive" ng-src="{{item.img}}"> Name : {{item.name}} || Quantity : {{item.quantity}} <span ng-hide="createPull">||  Company Purchased From : <a href="{{item.itemUrl}}">{{item.purchasedFrom}}</a> </span><button ng-model="pullItem" class="pull-right" ng-show="edit" ng-click="home.editInventory(item)">Edit: {{item.name}}</button>
            </h4>
          </div>
      </div>



<!--
          <button class="button" type="button" name="button" ng-click="glasses =! glasses"><span class="glyphicon glyphicon-menu-down pull-left"></span>Glassware Inventory<span class="glyphicon glyphicon-menu-down pull-right"></span></button>
            <div ng-repeat="glassItem in home.glassInventory">
              <h4 ng-show="glasses">
                <img class="col-xs-1 img-responsive" ng-src="{{glassItem.img}}"> Name : {{glassItem.name}} || Quantity : {{glassItem.quantity}} <span ng-hide="createPull">||  Company Purchased From : <a href="{{glassItem.itemUrl}}">{{glassItem.purchasedFrom}}</a> </span><button ng-model="pullItem" class="pull-right" ng-show="edit" ng-click="home.editInventory(glassItem)">Edit: {{glassItem.name}}</button>
              </h4>
            </div>




<!-- Edit Inventory Modal -->

          <div class="modal fade" id="inventoryEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Editing : {{home.activeInventory.name}}</h4>
                </div>
                <div class="modal-body">

                  <h6><input ng-model="home.activeInventory.img" type="file" name="" value=""> or <input ng-model="home.activeInventory.img" type="text" name="" value=""></h6>
                  <h6>Item Name : <input ng-model="home.activeInventory.name" type="text" value="Item Name"></h6>
                  <h6>Quantity : <input ng-model="home.activeInventory.quantity" type="text"></h6>
                  <h6>Purchased From :<input ng-model="home.activeInventory.purchasedFrom" type="text"></h6>
                  <h6>Item Url :<input ng-model="home.activeInventory.itemUrl" type="text"></h6>
                  <h6>Item description:<input ng-model="home.activeInventory.description" type="text"></h6>
                  <h6>Usage Rate (1-3):<input ng-model="home.activeInventory.usageRate" type="text"></h6>
                  <h6>Other Names :<input ng-model="home.activeInventory.otherNames" type="text"></h6>
                  <h6>Disposable :<input ng-model="home.activeInventory.disposable" type="checkbox"></h6>


                </div>
                <div class="modal-footer">
                  <button ng-click="home.saveInventory()" type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>



<!-- Add Item Modal     -->
          <div class="modal fade" id="inventoryAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Add New Item to Inventory</h4>
                </div>
                <div class="modal-body">

                  <h6>Item Name : <input ng-model="home.newItem.name" type="text" value="Item Name"></h6>
                  <h6>Upload Image or Copy Image URL :  <input id="newImage" type="file" name="" value=""> or <input ng-model="home.newItem.img" type="text" name="" value=""></h6>
                  <h6>Quantity :  <input ng-model="home.newItem.quantity" type="text"></h6>
                  <h6>Purchased From :  <input ng-model="home.newItem.purchasedFrom" type="text"></h6>
                  <h6>Item Url :  <input ng-model="home.newItem.itemUrl" type="text"></h6>
                  <h6>Item description: <input ng-model="home.newItem.description" type="text"></h6>
                  <h6>Usage Rate (1-3): <input ng-model="home.newItem.usageRate" type="text"></h6>
                  <h6>Other Names : <input ng-model="home.newItem.otherNames" type="text"></h6>
                  <h6>Disposable :  <input ng-model="home.newItem.disposable" type="checkbox"></h6>

              <!-- modal dropdown -->
                  <h6>New Item Category : </h6><select ng-model="home.inv">
                    <div class="" ng-repeat="(ListDrop, ListArray) in home.floorTen">

                      <option ng-model="home.inv" value="{{ListDrop}}">{{ListDrop}}</option>
                    </div>
                  </select>



                </div>
                <div class="modal-footer">
                  <button ng-click="home.saveAddedCustomInventory()" type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>


</section>

  </body>
</html>
